body {
    font-family: 'Lora', serif;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    margin: 0;
}

#container {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: bold; font-variant: small-caps;
    font-size: 2em;
    margin: 15px;
}

h1.name {
    font-size: 3em;
    margin: 15px;
    line-height: 1em;
}

#content {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
}

h2 {
    font-weight: normal;
    margin: 10px;
}

p {
    font-style: italic;
    color: grey;
    margin: 1em;
}

ul {
    padding: 0;
}

.nav li {
    display: inline;
    padding: 5vw;
}

a {
    color: white;
    margin: 10px;
}

#judgeForm {
    margin-bottom: 25px;
}

#judgeForm input {
    font-size: 25px;
    width: 15%;
    max-width: 100px;
    min-width: 2em;
    border: 0;
    cursor: pointer;
}

.center {
    width: 100%;
    align-items: center;
}

#footer {
    font-weight: 100;
    font-size: 10pt;
    font-style: italic;
    margin-bottom: 10px;
}

#footer a {
    color: grey;
    margin: 10px;
}

.message {
    animation-duration: 1s;
    animation-name: msg;
}

@keyframes msg {
    from {background: grey;}
    to {background: black;}
}

.leaderItem {
    margin: 15px;
}

.leaderItem button {
    text-decoration: none;
    background: none;
    border: none;
    padding: none;
    font-size: 7pt;
    cursor: pointer;
}

.leaderItem form {
    display: inline;
    margin: 0;
    padding: 0;
}

.poolItem {
    display: inline;
    line-height: 2em;
}

.poolItem a {
    text-decoration: none;
}

.pool {
    max-width: 700px;
    margin: 1em;
}

@media (hover: hover) {
    /* fleeting effects */

    .poolItem a {
        animation-duration: 15s;
        animation-name: poolFade;
        color: black;
    }

    .poolItem a:hover {
        animation-duration: 0.5s;
        animation-name: poolIn;
        color: white;
    }

    @keyframes poolIn {
        from {color: black;}
        to {color: white;}
    }

    @keyframes poolFade {
        from {color: white;}
        to {color: black;}
    }
}


@media only screen and (max-width: 350px) {
    .nav li {
        padding: 3vw;
    }
}

@media only screen and (min-width: 500px) {
    h1 {
        font-size: 50pt;
    }

    h1.name {
        font-size: 75pt;
    }
}
