<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Onomancer</title>
</head>
<body>
    <div id="container">
        <div class="nav">
            <ul>
                <li><a href="/vote">Appraise</a></li>
                <li><a href="/leaderboard">Regard</a></li>
                <li><a href="/egg">Offer</a></li>
            </ul>
        </div>
        <div id="header">{% block header %}{% endblock %}</div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            <a href="https://github.com/jmaliksi/onomancer">GitHub</a>
            <a href="/about">what</a>
        </div>
    </div>
</body>
</html>
