<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{share_title or 'Onomancer'}}</title>
    <meta name="description" content="{{share_desc or 'Distill the Ultimate Blaseball Name.'}}">
    <meta name="robots" content="index, nofollow">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{share_url or 'https://onomancer.sibr.dev'}}">
    <meta property="og:title" content="{{ share_title or 'Onomancer' }}">
    <meta property="og:description" content="{{ share_desc or 'Distill the Ultimate Blaseball Name.'}}">
    <meta property="og:image" content="{{share_image or 'https://ik.imagekit.io/4waizx9and/onomancer/onomancer_F3_jtvpBt.png'}}"/>
    <meta property="og:image:secure" content="{{share_image or 'https://ik.imagekit.io/4waizx9and/onomancer/onomancer_F3_jtvpBt.png'}}"/>

    <meta name="twitter:title" content="{{ share_title or 'Onomancer' }}">
    <meta name="twitter:description" content="{{ share_desc or 'Distill the Ultimate Blaseball Name.'}}">
    <meta property="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{share_image or 'https://ik.imagekit.io/4waizx9and/onomancer/onomancer_F3_jtvpBt.png'}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    {% if testing() %}
    <link rel="shortcut icon" href="{{url_for('static', filename='aquarium2.png')}}" />
    {% else %}
    <link rel="shortcut icon" href="{{url_for('static', filename='aquarium.png')}}" />
    {% endif %}
</head>
<body>
    <div id="container">
        <div class="nav">
            <ul>
                <li><a href="/vote" {% if hlAppraise %}class="highlight"{%endif%}>Appraise</a></li>
                <li><a href="/leaderboard" {% if hlRegard %}class="highlight"{%endif%}>Regard</a></li>
                <li><a href="/egg" {% if hlOffer %}class="highlight"{%endif%}>Offer</a></li>
            </ul>
        </div>
        <div class="subNav">{% block subNav %}{% endblock %}</div>
        <div id="header">{% block header %}{% endblock %}</div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            <a href="https://blaseball.com" target="_blank">Blaseball</a>
            <a href="https://github.com/jmaliksi/onomancer" target="_blank">GitHub</a>
            <a href="/about">what</a>
            <a href="https://sibr.dev" target="_blank">SIBR</a>
        </div>
    </div>
</body>
</html>
