{% extends "regard.html" %}
{% set hlCollect=True %}
{% block title %}
<a id="titleAnchor">
<form action="collect" method="post" class="inlineForm toplineForm" id="collectName">
    <input type="hidden" name="collection" value="{{collection}}"/>
    <input type="hidden" name="token" value="{{token}}"/>
    <input type="hidden" name="lineup_length" value="{{lineup_length}}"/>
    <input type="hidden" name="rotation_length" value="{{rotation_length}}"/>
    <input type="hidden" name="say" value="{{slogan}}"/>
    <input type="text" id="cname" name="cname" value="{{cname or 'Collection'}}" class="collectionName" onfocusout="document.getElementById('collectName').submit()" />
</form>
</a>
{% endblock %}
{% block names %}
<p class="message">
    <form action="collect" method="post" class="inlineForm toplineForm" id="collectSlogan">
        <input type="hidden" name="collection" value="{{collection}}"/>
        <input type="hidden" name="token" value="{{token}}"/>
        <input type="hidden" name="lineup_length" value="{{lineup_length}}"/>
        <input type="hidden" name="rotation_length" value="{{rotation_length}}"/>
        <input type="hidden" id="cname" name="cname" value="{{cname or 'Collection'}}"/>
        <input type="text" name="say" value="{{slogan}}" class="collectionSlogan" onfocusout="document.getElementById('collectSlogan').submit()"/>
    </form>
</p>
<span>
    <form action="collect" method="post" class="inlineForm toplineForm">
        <input type="hidden" name="collection" value="{{collection}}"/>
        <input type="hidden" name="token" value="{{token}}"/>
        <input type="hidden" name="cname" value="{{cname or 'Collection'}}"/>
        <input type="hidden" name="lineup_length" value="{{lineup_length}}"/>
        <input type="hidden" name="rotation_length" value="{{rotation_length}}"/>
        <input type="hidden" name="say" value="{{slogan}}"/>
        <button type="button" alt="undo" title="Undo" value="back" onclick="history.back()">&#9194</button>
        <button type="submit" alt="shuffle roster" title="Shuffle roster" name="command" value="reverb">&#127754</button>
        <button type="submit" alt="new collection" title="New collection" name="command" value="fireworks">&#129512</button>
    </form>
</span>
<div class="collect">
    <a id="lineupAnchor">
        <h3>
            <form action="collect" method="post" class="inlineForm">
                <input type="hidden" name="collection" value="{{collection}}"/>
                <input type="hidden" name="token" value="{{token}}"/>
                <input type="hidden" name="cname" value="{{cname or 'Collection'}}"/>
                <input type="hidden" name="rotation_length" value="{{rotation_length}}"/>
                <input type="hidden" name="say" value="{{slogan}}"/>
                <button type="submit" alt="Shorter lineup" title="Shorter lineup" name="lineup_length" value="{{lineup_length-1}}">&#10134</button>
                <label>Lineup</label>
                <button type="submit" alt="Longer lineup" title="Longer lineup" name="lineup_length" value="{{lineup_length+1}}">&#10133</button>
            </form>
        </h3>
    </a>
    {% for (name, stars, halfstar, anim) in lineup %}
    <div class="collectRow">
        <div class="collectColumn nameCol {{anim}}">
            <form action="collect" method="post" class="inlineForm">
                <input type="hidden" name="name" value="{{super_secret(name, token)}}"/>
                <input type="hidden" name="collection" value="{{collection}}"/>
                <input type="hidden" name="token" value="{{token}}"/>
                <input type="hidden" name="cname" value="{{cname or 'Collection'}}"/>
                <input type="hidden" name="lineup_length" value="{{lineup_length}}"/>
                <input type="hidden" name="rotation_length" value="{{rotation_length}}"/>
                <input type="hidden" name="say" value="{{slogan}}"/>
                <button type="submit" alt="incinerate" title="Incinerate" name="command" value="fire">&#128293</button>
                <button type="submit" alt="feedback" title="Feedback from stash" name="command" value="feedback">&#127908</button>
                <button type="submit" alt="reverse name" title="Reverse name" name="command" value="flip">&#128257</button>
            </form>
            <a href="/shareName/{{name}}?interview=1" target="_blank">{{name}}</a>
        </div>
        <div class="collectColumn stars">
            {% for star in stars %}
            <span>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.2" baseProfile="tiny" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.362 9.158l-5.268.584c-.19.023-.358.15-.421.343s0 .394.14.521c1.566 1.429 3.919 3.569 3.919 3.569-.002 0-.646 3.113-1.074 5.19-.036.188.032.387.196.506.163.119.373.121.538.028 1.844-1.048 4.606-2.624 4.606-2.624l4.604 2.625c.168.092.378.09.541-.029.164-.119.232-.318.195-.505l-1.071-5.191 3.919-3.566c.14-.131.202-.332.14-.524s-.23-.319-.42-.341c-2.108-.236-5.269-.586-5.269-.586l-2.183-4.83c-.082-.173-.254-.294-.456-.294s-.375.122-.453.294l-2.183 4.83z"/ >
            </svg>
            </span>
            {% endfor %}
            {% if halfstar %}
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.2" baseProfile="tiny" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5 4.3c-.9 1.9-2.2 4.8-2.2 4.8s-3.1.4-5.2.6c-.2 0-.4.2-.4.3-.1.2 0 .4.1.5 1.6 1.4 3.9 3.6 3.9 3.6s-.6 3.1-1.1 5.2c0 .2 0 .4.2.5.2.2.4.2.6.1 1.8-1 4.6-2.6 4.6-2.6v-13.3c-.2 0-.4.2-.5.3z" />
            </svg>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <a id="rotationAnchor"/>
        <h3>
            <form action="collect" method="post" class="inlineForm">
                <input type="hidden" name="collection" value="{{collection}}"/>
                <input type="hidden" name="token" value="{{token}}"/>
                <input type="hidden" name="cname" value="{{cname or 'Collection'}}"/>
                <input type="hidden" name="lineup_length" value="{{lineup_length}}"/>
                <input type="hidden" name="say" value="{{slogan}}"/>
                <button type="submit" alt="Shorter rotation" title="Shorter rotation" name="rotation_length" value="{{rotation_length-1}}">&#10134</button>
                <label>Rotation</label>
                <button type="submit" alt="Longer rotation" title="Longer rotation" name="rotation_length" value="{{rotation_length+1}}">&#10133</button>
            </form>
        </h3>
    </a>
    {% for (name, stars, halfstar, anim) in rotation %}
    <div class="collectRow">
        <div class="collectColumn nameCol {{anim}}">
            <form action="collect" method="post" class="inlineForm">
                <input type="hidden" name="name" value="{{super_secret(name, token)}}"/>
                <input type="hidden" name="collection" value="{{collection}}"/>
                <input type="hidden" name="token" value="{{token}}"/>
                <input type="hidden" name="cname" value="{{cname or 'Collection'}}"/>
                <input type="hidden" name="lineup_length" value="{{lineup_length}}"/>
                <input type="hidden" name="rotation_length" value="{{rotation_length}}"/>
                <input type="hidden" name="say" value="{{slogan}}"/>
                <button type="submit" alt="incinerate" title="Incinerate" name="command" value="fire">&#128293</button>
                <button type="submit" alt="feedback" title="Feedback from stash" name="command" value="feedback">&#127908</button>
                <button type="submit" alt="reverse name" title="Reverse name" name="command" value="flip">&#128257</button>
            </form>
            <a href="/shareName/{{name}}?interview=1" target="_blank">{{name}}</a>
        </div>
        <div class="collectColumn stars">
            {% for star in stars %}
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.2" baseProfile="tiny" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.362 9.158l-5.268.584c-.19.023-.358.15-.421.343s0 .394.14.521c1.566 1.429 3.919 3.569 3.919 3.569-.002 0-.646 3.113-1.074 5.19-.036.188.032.387.196.506.163.119.373.121.538.028 1.844-1.048 4.606-2.624 4.606-2.624l4.604 2.625c.168.092.378.09.541-.029.164-.119.232-.318.195-.505l-1.071-5.191 3.919-3.566c.14-.131.202-.332.14-.524s-.23-.319-.42-.341c-2.108-.236-5.269-.586-5.269-.586l-2.183-4.83c-.082-.173-.254-.294-.456-.294s-.375.122-.453.294l-2.183 4.83z"/ >
            </svg>
            {% endfor %}
            {% if halfstar %}
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.2" baseProfile="tiny" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5 4.3c-.9 1.9-2.2 4.8-2.2 4.8s-3.1.4-5.2.6c-.2 0-.4.2-.4.3-.1.2 0 .4.1.5 1.6 1.4 3.9 3.6 3.9 3.6s-.6 3.1-1.1 5.2c0 .2 0 .4.2.5.2.2.4.2.6.1 1.8-1 4.6-2.6 4.6-2.6v-13.3c-.2 0-.4.2-.5.3z" />
            </svg>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="shareDiv">
    <small><a href="/shareCollection/{{friends}}?ll={{lineup_length}}{% if cname%}&cname={{cname}}{%endif%}&say={{slogan}}" target="_blank">share</a></small>
    <small><a href="/collect?token={{token[:8]}}&f={{friends}}{% if cname%}&cname={{cname}}{%endif%}&settings=1&ll={{lineup_length}}&rl={{rotation_length}}">settings</a></small>
    <small><a href="/collectSimsim">simsim</a></small>
    <small><a href="/collect?token={{token[:8]}}&f={{friends}}{% if cname%}&cname={{cname}}{%endif%}&help=1&ll={{lineup_length}}&rl={{rotation_length}}#help" id="help">help</a></small>
</div>
{% if settings %}
<form method="get" action="/collect" class="settingsForm">
    <input type="hidden" name="t" value="{{token[:8]}}"/>
    <input type="hidden" name="f" value="{{friends}}"/>
    <input type="hidden" name="cname" value="{{cname or 'Collection'}}"/>
    <label for="cname">
        Collection Name
        <input id="cname" type="text" name="cname" value="{{cname or 'Collection'}}"/>
    </label>
    <label for="say">
        Slogan
        <input id="say" type="text" name="say" value="{{slogan}}"/>
    </label>
    <label for="ll">
        Lineup Length
        <input id="ll" type="text" name="ll" value="{{lineup_length}}"/>
    </label>
    <label for="rl">
        Rotation Length
        <input id="rl" type="text" name="rl" value="{{rotation_length}}"/>
    </label>
    <input type="submit" alt="Save Settings" value="Save" />
</form>
{% endif %}
{% if help %}
<div class="helpDiv">
    <ul>
    <li>&#9194 Undo the previous change. Your browser back button also works to undo changes.</li>
    <li>&#127754 Reverb the team. Shuffles the roster.</li>
    <li>&#129512 Create a new team.</li>
    <li>&#10134 Reduce the length of the Lineup/Rotation. Also adjustable under "settings".</li>
    <li>&#10133 Increase the length of the Lineup/Rotation. Also adjustable under "settings".</li>
    <li>&#128293 Replace player with another random, upvoted name from the Pool.</li>
    <li>&#127908 Feedback a player from your Stash into this roster position.</li>
    <li>&#128257 Replace this player with another player with the reverse name.</li>
    <li>Click on "Collection" to change the name of your team. Also adjustable under "settings".</li>
    <li>Click on the text below "Collection" to change the slogan. Also adjustable under "settings".</li>
    <li>Click on a player's name for detailed stats, to save them to your stash, and/or to share with others.</li>
    <li>Click "share" to open up the shareable version of this team in another window. Share this page with your friends!</li>
    <li>Click "simsim" for roster size presets to work with the simsim.</li>
    <li>You can save your team to your computer. Note that uses cookies. If you want to transfer a team from one devide to another, open the "share" link on your other machine and click "Edit"</li>
    </ul>
</div>
{% endif %}
<div><p class="message">Your saved decks...</p></div>
<div class="save">
    {% for save_name, info in saves.items() %}
    <form class="saveCol" action="collect" method="get">
        <input type="hidden" name="t" value="{{token[:8]}}"/>
        <input type="hidden" name="f" value="{{friends}}"/>
        <input type="hidden" name="cname" value="{{cname or 'Collection'}}"/>
        <input type="hidden" name="ll" value="{{lineup_length}}"/>
        <input type="hidden" name="rl" value="{{rotation_length}}"/>
        <input type="hidden" name="say" value="{{slogan}}"/>
        <label class="flex1 {%if not info[0]%}unsaved{%endif%}">{{info[1] if info[1] else '-Empty-'}}</label>
        <button type="submit" name="save" alt="save collection" title="Save collection" value="{{save_name}}" class="saveButton flex1">save</button>
        <button type="submit" name="load" alt="load collection" title="Load collection" value="{{save_name}}" class="flex1 saveButton {% if not info[0] %}unsaved{% endif %}" {% if not info[0] %}disabled{% endif %}>load</button>
        <button type="submit" name="clear" alt="delete collection" title="Delete collection" value="{{save_name}}" class="flex1 saveButton {% if not info[0] %}unsaved{% endif %}" {% if not info[0] %}disabled{% endif %}>clear</button>
    </form>
    {% endfor %}
</div>
{% endblock %}
