{% extends "regard.html" %}
{% block title %}
<a id="titleAnchor">
<form action="collect" method="post" class="inlineForm toplineForm" id="collectName">
    <input type="hidden" name="collection" value="{{collection}}"/>
    <input type="hidden" name="token" value="{{token}}"/>
    <input type="text" id="cname" name="cname" value="{{cname or 'Collection'}}" class="collectionName" onfocusout="document.getElementById('collectName').submit()" />
</form>
</a>
{% endblock %}
{% block names %}
<span>
    <form action="collect" method="post" class="inlineForm toplineForm">
        <input type="hidden" name="collection" value="{{collection}}"/>
        <input type="hidden" name="token" value="{{token}}"/>
        <input type="hidden" name="cname" value="{{cname or 'Collection'}}"/>
        <button type="button" alt="undo" title="Undo" value="back" onclick="history.back()">&#9194</button>
        <button type="submit" alt="shuffle roster" title="Shuffle roster" name="command" value="reverb">&#127754</button>
        <button type="submit" alt="new collection" title="New collection" name="command" value="fireworks">&#129512</button>
    </form>
</span>
<div class="collect">
    <a id="lineupAnchor">
        <h3>Lineup</h3>
    </a>
    {% for (name, stars, halfstar, anim) in lineup %}
    <div class="collectRow">
        <div class="collectColumn nameCol {{anim}}">
            <form action="collect" method="post" class="inlineForm">
                <input type="hidden" name="name" value="{{super_secret(name, token)}}"/>
                <input type="hidden" name="collection" value="{{collection}}"/>
                <input type="hidden" name="token" value="{{token}}"/>
                <input type="hidden" name="cname" value="{{cname or 'Collection'}}"/>
                <button type="submit" alt="incinerate" title="Incinerate" name="command" value="fire">&#128293</button>
                <button type="submit" alt="feedback" title="Feedback from stash" name="command" value="feedback">&#127908</button>
                <button type="submit" alt="reverse name" title="Reverse name" name="command" value="flip">&#128257</button>
            </form>
            <a href="/shareName/{{name}}" target="_blank">{{name}}</a>
        </div>
        <div class="collectColumn stars">
            {% for star in stars %}
            <span>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.2" baseProfile="tiny" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.362 9.158l-5.268.584c-.19.023-.358.15-.421.343s0 .394.14.521c1.566 1.429 3.919 3.569 3.919 3.569-.002 0-.646 3.113-1.074 5.19-.036.188.032.387.196.506.163.119.373.121.538.028 1.844-1.048 4.606-2.624 4.606-2.624l4.604 2.625c.168.092.378.09.541-.029.164-.119.232-.318.195-.505l-1.071-5.191 3.919-3.566c.14-.131.202-.332.14-.524s-.23-.319-.42-.341c-2.108-.236-5.269-.586-5.269-.586l-2.183-4.83c-.082-.173-.254-.294-.456-.294s-.375.122-.453.294l-2.183 4.83z"/ >
            </svg>
            </span>
            {% endfor %}
            {% if halfstar %}
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.2" baseProfile="tiny" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5 4.3c-.9 1.9-2.2 4.8-2.2 4.8s-3.1.4-5.2.6c-.2 0-.4.2-.4.3-.1.2 0 .4.1.5 1.6 1.4 3.9 3.6 3.9 3.6s-.6 3.1-1.1 5.2c0 .2 0 .4.2.5.2.2.4.2.6.1 1.8-1 4.6-2.6 4.6-2.6v-13.3c-.2 0-.4.2-.5.3z" />
            </svg>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <a id="rotationAnchor"/>
        <h3>Rotation</h3>
    </a>
    {% for (name, stars, halfstar, anim) in rotation %}
    <div class="collectRow">
        <div class="collectColumn nameCol {{anim}}">
            <form action="collect" method="post" class="inlineForm">
                <input type="hidden" name="name" value="{{super_secret(name, token)}}"/>
                <input type="hidden" name="collection" value="{{collection}}"/>
                <input type="hidden" name="token" value="{{token}}"/>
                <input type="hidden" name="cname" value="{{cname or 'Collection'}}"/>
                <button type="submit" alt="incinerate" title="Incinerate" name="command" value="fire">&#128293</button>
                <button type="submit" alt="feedback" title="Feedback from stash" name="command" value="feedback">&#127908</button>
                <button type="submit" alt="reverse name" title="Reverse name" name="command" value="flip">&#128257</button>
            </form>
            <a href="/shareName/{{name}}" target="_blank">{{name}}</a>
        </div>
        <div class="collectColumn stars">
            {% for star in stars %}
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.2" baseProfile="tiny" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.362 9.158l-5.268.584c-.19.023-.358.15-.421.343s0 .394.14.521c1.566 1.429 3.919 3.569 3.919 3.569-.002 0-.646 3.113-1.074 5.19-.036.188.032.387.196.506.163.119.373.121.538.028 1.844-1.048 4.606-2.624 4.606-2.624l4.604 2.625c.168.092.378.09.541-.029.164-.119.232-.318.195-.505l-1.071-5.191 3.919-3.566c.14-.131.202-.332.14-.524s-.23-.319-.42-.341c-2.108-.236-5.269-.586-5.269-.586l-2.183-4.83c-.082-.173-.254-.294-.456-.294s-.375.122-.453.294l-2.183 4.83z"/ >
            </svg>
            {% endfor %}
            {% if halfstar %}
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" version="1.2" baseProfile="tiny" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5 4.3c-.9 1.9-2.2 4.8-2.2 4.8s-3.1.4-5.2.6c-.2 0-.4.2-.4.3-.1.2 0 .4.1.5 1.6 1.4 3.9 3.6 3.9 3.6s-.6 3.1-1.1 5.2c0 .2 0 .4.2.5.2.2.4.2.6.1 1.8-1 4.6-2.6 4.6-2.6v-13.3c-.2 0-.4.2-.5.3z" />
            </svg>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div>
    <small><a href="/shareCollection/{{friends}}{% if cname%}?cname={{cname}}{%endif%}" target="_blank">share</a></small>
</div>
<div><p class="message">Your decks...</p></div>
<div class="save">
    {% for save_name, info in saves.items() %}
    <form class="saveCol" action="collect" method="get">
        <input type="hidden" name="t" value="{{token[:8]}}"/>
        <input type="hidden" name="f" value="{{friends}}"/>
        <input type="hidden" name="cname" value="{{cname or 'Collection'}}"/>
        <button type="submit" name="save" alt="save collection" title="Save collection" value="{{save_name}}" class="saveButton">save</button>
        <button type="submit" name="load" alt="load collection" title="Load collection" value="{{save_name}}" class="saveButton {% if not info[0] %}unsaved{% endif %}" {% if not info[0] %}disabled{% endif %}>load</button>
        <button type="submit" name="clear" alt="delete collection" title="Delete collection" value="{{save_name}}" class="saveButton {% if not info[0] %}unsaved{% endif %}" {% if not info[0] %}disabled{% endif %}>clear</button>
        <label>{{info[1] if info[1] else ''}}</label>
    </form>
    {% endfor %}
</div>
{% endblock %}
