{% extends "base.html" %}
{% set hlAppraise=True %}
{% block subNav %}
<a href="/vote" {%if hlAdjudicate%}class="highlight"{%endif%}>Adjudicate</a>
    <a href="/annotate" {%if hlAnnotate%}class="highlight"{%endif%}>Annotate</a>
{% endblock %}
{% block content %}
<div class="center">
    <span>{% block cta %}{% endblock%}</span>
    <a class="vocalize" onclick='vocalize("{{name}}");return false' onmouseenter='enterWord()' onmouseout='exitWord()'><h1 class="name">{{name}}<sup id="vocalizeicon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 1em; width: 1em;"><path d="M0 0h512v512H0z" fill="#000000" fill-opacity="1"></path><g class="" transform="translate(0,0)" style=""><path id="megaphone" d="M443.535 120.186l-112 64 8.93 15.628 112-64-8.93-15.628zM297 153v206h17.973V153H297zm-18 9.367L73 235.072v41.856l206 72.705V162.367zM39 240v32h18v-32H39zm297 7v18h128v-18H336zM99.332 300.89l-14.8 40.215L181.02 379.7l16.11-40.364-16.716-6.672-9.434 23.635-63.51-25.405 8.755-23.786-16.893-6.22zm241.133 11.296l-8.93 15.628 112 64 8.93-15.628-112-64z"></path></g></svg></sup></h1></a>
    {% block console %}{% endblock %}
    <p class="message">{{message}}</p>
</div>
<script>
window.addEventListener("load", function() {
    if (!('speechSynthesis' in window)) {
        return;
    }
    document.getElementById("vocalizeicon").style.display = "inline";
});

function enterWord() {
    document.getElementById("megaphone").style.fill = "#fff";
}

function exitWord() {
    document.getElementById("megaphone").style.fill = "#777";
}
</script>
{% endblock %}
