{% extends "base.html" %}
{% block content %}
<h1>Leaders</h1>
<div class="leaderboard">
    {% if message %}
    <p class="message">{{message}}</p>
    {% endif %}
    <ol>
    {% for name in names %}
    <li class="leaderItem" key="{{name['name']}}">
        <span>{{name['name']}} - {{name['votes']}} </span>
        <form action="downLeader" method="post">
            <button type="submit" name="name" value="{{name['name']}}">&#128315</button>
        </form>
    </li>
    {% endfor %}
    </ol>
</div>
{% endblock %}
