<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="/moderate/{{key}}">Refresh</a>
    <a href="/moderate/bad-eggs/{{key}}">View Bad Eggs</a>
    <a href="/moderate/admin-eggs/{{key}}">Lookup Eggs</a>
    <p>Allow most things, including len != 2, unicode, emoji. Just filter out offensive stuff.</p>
    <form action="/moderate/{{key}}/names" method="post">
        {{ csrf_html(session['USER_CSRF'])|safe }}
        {% for id_, name in leaders.items() %}
        <p>{{name}}</p>
        <input type="radio" id="good{{id_}}" name="{{id_}}" value="good" />
        <label for="good{{id_}}">good</label>
        <input type="radio" id="bad{{id_}}" name="{{id_}}" value="bad" />
        <label for="bad{{id_}}">bad</label>
        {% endfor %}
        <p>approve full names</p>
        <input type="submit" value="what" />
    </form>
    <form action="/moderate/{{key}}/eggs" method="post">
        {{ csrf_html(session['USER_CSRF'])|safe }}
        {% for id_, name in eggs.items() %}
        <p>{{name}}</p>
        <input type="radio" id="good{{id_}}" name="{{id_}}" value="good" />
        <label for="good{{id_}}">good</label>
        <input type="radio" id="bad{{id_}}" name="{{id_}}" value="bad" />
        <label for="bad{{id_}}">bad</label>
        {% endfor %}
        <p>approve egg names</p>
        <input type="submit" value="what" />
    </form>
</body>
