{% extends "regard.html" %}
{% set hlStash=True %}
{% block title %}Stash{% endblock %}
{% block names %}
<h2>Pages Turned</h2>
<div class="board">
    <h3>Appraisals</h3>
    <div>Total: {{stash.get_total_appraisal()}}</div>
    <div>💚: {{stash.get_stat('💚')}}</div>
    <div>👍: {{stash.get_stat('👍')}}</div>
    <div>👎: {{stash.get_stat('👎')}}</div>
    <div>💔: {{stash.get_stat('💔')}}</div>
</div>
<div class="board">
    <h3>Annotations</h3>
    <div>Total: {{stash.get_total_annotation()}}</div>
    <div>👈: {{stash.get_stat('👈')}}</div>
    <div>👉: {{stash.get_stat('👉')}}</div>
    <div>🙌: {{stash.get_stat('🙌')}}</div>
    <div>👎: {{stash.get_stat('👎👎')}}</div>
</div>
<p>&nbsp;</p>
<h2>History</h2>
<ol class="history">
    {% for guid, name in stash.history_names() %}
    <li class="leaderItem" key="{{name}}">
        <span><a href="/shareName/{{guid}}" target="_blank">{{name}}</a></span>
    </li>
    {% endfor %}
</ol>
<p>&nbsp;</p>
<h2>Bookmarks</h2>
<ul class="undecoratedList">
    {% if not names %}
    <p>Nothing bookmarked. Stashed names you come across can be found here.</p>
    {% endif %}
    {% for guid, name in names.items() %}
    <li class="leaderItem" key="{{name}}">
        <span><a href="/shareName/{{guid}}" target="_blank">{{name}}</a></span>
        <form action="stash" method="post" class="inlineForm">
            {{ csrf_html(session['USER_CSRF'])|safe }}
            <input type="hidden" name="guid" value="{{guid}}"/>
            <button type="submit" alt="remove" title="Eject" name="command" value="eject">&#9167&#65039</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
