{% extends "judge.html" %}
{% set hlAdjudicate=True %}
{% block cta %}Render judgement...{% endblock %}
{% block console %}
<form class='judgeForm' method="post" action="/rate">
    {{ csrf_html(session['USER_CSRF'])|safe }}
    <input type="hidden" name="name" value="{{super_secret(name, rotkey)}}" />
    <input type="hidden" name="reverse" value="{{reverse}}"/>
    <label>
      <input type="submit" alt="no" name="judgement" value="&#128148" />
      No
    </label>
    <label>
      <input type="submit" alt="downvote" name="judgement" value="&#x1F44E" />
      Downvote
    </label>
    <label>
      <input type="submit" alt="upvote" name="judgement" value="&#x1F44D" />
      Upvote
    </label>
    <label>
      <input type="submit" alt="love" name="judgement" value="&#128154" />
      Love
    </label>
</form>
<div>
    <a href="/vote?name={{super_secret(name, rotkey)}}&reverse=1">reverse</a>
    <a href="/vote">skip</a>
    <a href="/vote?name={{super_secret(name, rotkey)}}&flagForm=1">flag</a>
    <a href="shareName/{{share_guid}}" target="_blank">share</a>
    <form action="/stash" method="post" class="inlineForm">
        {{ csrf_html(session['USER_CSRF'])|safe }}
        <input type="hidden" name="guid" value="{{share_guid}}"/>
        <input type="hidden" name="command" value="stash"/>
        <input type="hidden" name="redirect" value="vote"/>
        <button type="submit" alt="stash" title="Save to stash" value="stash" style="text-decoration:underline;margin:10px;">stash</button>
    </form>
    <a href="shareName/{{share_guid}}?examine=1" target="_blank">interview</a>
</div>
{% if flag_form %}
<p>&nbsp;</p>
<form id="flagForm" method="post" action="/flag">
    {{ csrf_html(session['USER_CSRF'])|safe }}
    <input type="hidden" name="name" value="{{super_secret(name, rotkey)}}" />
    <input type="text" name="reason" autofocus/>
    <input type="submit" alt="flag" name="flag" value="Flag"/>
</form>
{% endif %}
{% endblock %}
