{% extends "judge.html" %}
{% block cta %}Render judgement...{% endblock %}
{% block console %}
<form id='judgeForm' method="post" action="/rate">
    {{ csrf_html(session['USER_CSRF'])|safe }}
    <input type="hidden" name="name" value="{{super_secret(name, rotkey)}}" />
    <label>
      <input type="submit" alt="no" name="judgement" value="&#128148" />
      No
    </label>
    <label>
      <input type="submit" alt="downvote" name="judgement" value="&#x1F44E" />
      Downvote
    </label>
    <label>
      <input type="submit" alt="upvote" name="judgement" value="&#x1F44D" />
      Upvote
    </label>
    <label>
      <input type="submit" alt="love" name="judgement" value="&#128154" />
      Love
    </label>
</form>
<div>
    <a href="/vote?name={{super_secret(name, rotkey)}}&reverse=1">reverse</a>
    <a href="/vote">skip</a>
    <a href="/vote?name={{super_secret(name, rotkey)}}&flagForm=1">flag</a>
    <a href="shareName/{{share_guid}}" target="_blank">share</a>
</div>
{% if flag_form %}
<p>&nbsp;</p>
<form id="flagForm" method="post" action="/flag">
    {{ csrf_html(session['USER_CSRF'])|safe }}
    <input type="hidden" name="name" value="{{super_secret(name, rotkey)}}" />
    <input type="text" name="reason" autofocus/>
    <input type="submit" alt="flag" name="flag" value="Flag"/>
</form>
{% endif %}
{% endblock %}
