{% extends "base.html" %}
{% block content %}
<div class="center">
    <span>Render judgement...</span>
    <h1 class="name">{{name}}</h1>
    <form id='judgeForm' method="post" action="/rate">
        {{ csrf_html(session['USER_CSRF'])|safe }}
        <input type="hidden" name="name" value="{{name}}" />
        <input type="submit" alt="downvote" name="judgement" value="&#128148" />
        <input type="submit" alt="skip" name="judgement" value="&#x1F44E" />
        <input type="submit" alt="upvote" name="judgement" value="&#x1F44D" />
        <input type="submit" alt="love" name="judgement" value="&#128154" />
    </form>
    <a href="/vote/{{name}}?reverse=1">reverse</a>
    <a href="/vote">skip</a>
    {% if message %}
    <p class="message">{{message}}</p>
    {% endif %}
</div>
{% endblock %}
